{% extends 'main/base-min.html'%}
{% load static %}


{% block content %}
<!-- =======================
    Sign up -->
<section class="p-0 d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <!-- left -->
            <div class="col-12 col-md-5 col-lg-4 d-md-flex align-items-center bg-grad vh-sm-100">
                <div class="w-100 p-3 p-lg-5 all-text-white">
                    <div class="justify-content-center align-self-center">
                        <!-- Logo -->
                        <a href="{% url 'home' %}">
                            <img class="logo-auth mb-4" src="{% static 'images/logo_arius.svg' %}" alt="Logo">
                        </a>
                    </div>
                    <h3 class="fw-light">Зарегистрируйся и получи уникальную возможность для заработка!</h3>
                    <ul class="list-group list-group-borderless mt-4">
                        <li class="list-group-item text-white"><i class="fa fa-check"></i>Зарегистрируйся
                        </li>
                        <li class="list-group-item text-white"><i class="fa fa-check"></i>Следуй инструкциям
                        </li>
                        <li class="list-group-item text-white"><i class="fa fa-check"></i>Стань инвестором и зарабатывай
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Right -->
            <div class="col-12 col-md-7 col-xl-8 mx-auto my-5">
                <div class="row h-100">
                    <div class="col-12 col-md-10 col-lg-5 text-start mx-auto d-flex align-items-center">
                        <div class="w-100">


                            <div class="col-md-12">

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class=" mt-5">

                                            <div class="">
                                                <h2>Присоединяйтесь к нам!</h2>

                                                <!--                                                <a href="" class="btn btn-sm btn-block btn-primary"><i-->
                                                <!--                                                        class="fa fa-facebook"></i>Login with Facebook</a>-->

                                                <!--                                                <div class="row">-->
                                                <!--                                                    <div class="col-md-5">-->
                                                <!--                                                        <hr>-->
                                                <!--                                                    </div>-->
                                                <!--                                                    <div class="col-md-2">-->
                                                <!--                                                        <p class="text-muted">OR</p>-->
                                                <!--                                                    </div>-->
                                                <!--                                                    <div class="col-md-5">-->
                                                <!--                                                        <hr>-->
                                                <!--                                                    </div>-->
                                                <!--                                                </div>-->

                                                {% include 'user/_flash_messages.html' %}


                                                <form action="{% url 'register' %}" method="post">

                                                    {% csrf_token %}

                                                    <div class="form-group">
                                                        <input class="form-control " type="email"
                                                               name="email" value="{{data.email}}" placeholder="Email">


                                                    </div>

                                                    <div class="form-group">
                                                        <input class="form-control " type="text"
                                                               name="name" value="{{data.name}}"
                                                               placeholder="Имя и Фамилия">


                                                    </div>

                                                    <div class="form-group">
                                                        <input class="form-control " type="text"
                                                               name="username" value="{{data.username}}"
                                                               placeholder="Имя пользователя">


                                                    </div>

                                                    <div class="form-group">
                                                        <input class="form-control " type="password"
                                                               name="password" value="" placeholder="Пароль">


                                                    </div>

                                                    <div class="form-group">
                                                        <input class="form-control " type="password"
                                                               name="password2" value="" placeholder="Повторить пароль">


                                                    </div>


                                                    <div class="row align-items-center g-0 m-0">
                                                        <div class="col-6"><span
                                                                class="text-muted">Уже с нами?<br><a
                                                                href="{%url 'login'%}">Войдите в аккаунт</a></span>
                                                        </div>
                                                        <div class="col-6 text-end">

                                                            <input type="submit" value="Вперед!"
                                                                   class="btn btn-dark"/>
                                                        </div>
                                                    </div>

                                                </form>


                                                <small class="py-3">
                                                    Регистрируясь, вы соглашаетесь с условиями, <a href="#">политикой
                                                    данных и Cookies
                                                    Policy</a>.
                                                </small>


                                            </div>
                                        </div>


                                        <!--                                        <div class="card mt-4">-->
                                        <!--                                            <div class="card-body">-->
                                        <!--                                                <p>-->
                                        <!--                                                    Забыли пароль? <a href="{% url 'request-reset-email' %}">Сбросить и создать новый</a>-->
                                        <!--                                                </p>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->

                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
