{% extends 'main/base-min.html'%}
{% load static %}


{% block content%}

<section class="p-0 d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <!-- left -->
            <div class="col-12 col-md-5 col-lg-4 d-md-flex align-items-center bg-grad vh-sm-100">
                <div class="w-100 p-3 p-lg-5 all-text-white">
                    <div class="justify-content-center align-self-center">
                        <!-- Logo -->
                        <a href="{% url 'home' %}">
                            <img class="logo-auth mb-4" src="{% static 'images/logo_arius.svg' %}" alt="Logo">
                        </a>
                    </div>
                    <h3 class="fw-light">Восстановление пароля</h3>
<!--                    <ul class="list-group list-group-borderless mt-4">-->
<!--                        <li class="list-group-item text-white"><i class="fa fa-check"></i>Зарегистрируйся-->
<!--                        </li>-->
<!--                        <li class="list-group-item text-white"><i class="fa fa-check"></i>Следуй инструкциям-->
<!--                        </li>-->
<!--                        <li class="list-group-item text-white"><i class="fa fa-check"></i>Стань инвестором и зарабатывай-->
<!--                        </li>-->
<!--                    </ul>-->
                </div>
            </div>
            <!-- Right -->
            <div class="col-12 col-md-7 col-xl-8 mx-auto my-5">
                <div class="row h-100">
                    <div class="col-12 col-md-10 col-lg-5 text-start mx-auto d-flex align-items-center">
                        <div class="w-100">


                            <div class="col-md-12">

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class=" mt-5">

                                            <div class="">
                                                <h5 class="card-title text-muted">Введите свой email, чтобы получить инструкции по смене пароля</h5>

                                                {% include 'user/_flash_messages.html' %}

                                                <form action="{% url 'request-reset-email' %}" method="post">

                                                    {% csrf_token %}

                                                    <div class="form-group">
                                                        <input class="form-control" type="email"
                                                               name="email" value="{{data.email}}" placeholder="Email">
                                                    </div>
                                                    <input type="submit" value="Submit"
                                                           class="btn btn-dark"/>
                                                </form>

                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
