{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<!--<div class="container">-->
<!--    <div class="d-block p-4 p-sm-5 h-bg-gray-round mt-2">-->
<!--        <center>-->
<!--            <h1>{{title}}</h1>-->
<!--        </center>-->
<!--    </div>-->
<!--</div>-->



<!-- =======================
Как это работает  -->
<section >
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <p class="lead">На сайте Arius Capital ты заполняешь анкету инвестора. Далее наш менеджер связывается с
                    тобой и, учитывая сроки проекта и доходность, помогает подобрать максимально выгодный для тебя
                    вариант инвестиций</p>
                <img src="{% static 'images/how_it_works.jpg' %}" alt="" class="img-fluid my-round aos" data-aos="zoom-out-right">
            </div>
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-3 how-it-works">
                        <svg data-aos="flip-left" data-aos-delay="100" class=" my-round float-start" width="100" height="100"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1"
                             preserveAspectRatio="xMidYMid slice" focusable="false" style="margin: 10px 10px 10px 0px">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#c7dd00"></rect>
                            <text x="45%" y="50%" fill="#000000" dy=".3em" class="h1">1</text>
                        </svg>
                    </dt>
                        <dd class="col-9 how-it-works lead"><span class="align-middle">Кликни на кнопку «Стань инвестором» и заполни анкету инвестора</span>
                    </dd>
                    <dt class="col-3 how-it-works">
                        <svg data-aos="flip-left" data-aos-delay="200" class=" my-round float-start" width="100" height="100"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1"
                             preserveAspectRatio="xMidYMid slice" focusable="false" style="margin: 10px 10px 10px 0px">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#c7dd00"></rect>
                            <text x="40%" y="50%" fill="#000000" dy=".3em" class="h1">2</text>
                        </svg>
                    </dt>
                    <dd class="col-9 how-it-works lead">Наш менеджер свяжется с тобой и поможет подобрать подходящий
                        объект для инвестирования
                    </dd>
                    <dt class="col-3 how-it-works">
                        <svg data-aos="flip-left" data-aos-delay="300" class=" my-round float-start" width="100" height="100"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1"
                             preserveAspectRatio="xMidYMid slice" focusable="false" style="margin: 10px 10px 10px 0px">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#c7dd00"></rect>
                            <text x="40%" y="50%" fill="#000000" dy=".3em" class="h1">3</text>
                        </svg>
                    </dt>
                    <dd class="col-9 how-it-works lead">Внеси инвестиции через кассу банка или посредством
                        интернет-банкинга (Приват24, Монобанк и т.д.)
                    </dd>
                    <dt class="col-3 how-it-works">
                        <svg data-aos="flip-left" data-aos-delay="400" class=" my-round float-start" width="100" height="100"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1"
                             preserveAspectRatio="xMidYMid slice" focusable="false" style="margin: 10px 10px 10px 0px">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#c7dd00"></rect>
                            <text x="40%" y="50%" fill="#000000" dy=".3em" class="h1">4</text>
                        </svg>
                    </dt>
                    <dd class="col-9 how-it-works lead">Получи на электронную почту письмо-подтверждение, что ты стал
                        инвестором!
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Как это работает  -->




<section id="calc">
    <div class="container my-round" style="background-color:#f2f2f2; padding:30px; position:relative;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="row pb-4">
                    <div class="col-12">
                        <div class="my-round" style="padding:30px;background-color:white">
                            <h2 class="h1">Сумма вклада $<span class="sumlable">20000</span></h2>
                            <input name="summInvest" type="range" min="100" max="100000" step="100" value="20000"
                                   id="summInvest"
                                   oninput="maxPrice.value=this.value" style="width:100%"/>
                            <p class="h4">
                                <span>$100</span>
                                <span class="float-end">$100.000</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="my-round" style="background-color:white;padding:30px">
                            <h3 class="h2">Срок вклада</h3>


                            <div class="form-check">
                                <input value="3 месяца" class="form-check-input" type="radio" name="month"
                                       id="flexRadioDefault1" checked="checked">
                                <label class="form-check-label lead text-dark" for="flexRadioDefault1">
                                    3 месяца
                                </label>
                            </div>
                            <div class="form-check">
                                <input value="6 месяцев" class="form-check-input" type="radio" name="month"
                                       id="flexRadioDefault2">
                                <label class="form-check-label lead text-dark" for="flexRadioDefault2">
                                    6 месяцев
                                </label>
                            </div>
                            <div class="form-check pb-3">
                                <input value="12 месяцев" class="form-check-input" type="radio" name="month"
                                       id="flexRadioDefault3">
                                <label class="form-check-label lead text-dark" for="flexRadioDefault3">
                                    12 месяцев
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-4 mb-4">
                        <div class="my-round green-block" style="padding:30px 10px ">
                            <h3 class="h2 text-center">Доход</h3>
                            <table cellpadding="3" width="100%">
                                <tr>
                                    <td width="40%">
                                        <h4 class="text-center"
                                            style="padding:7px;background-color:white;border-radius:10px">
                                            <div class="percent" data-elem-type='text'>+3.75%</div>
                                        </h4>
                                    </td>
                                    <td width="60%">
                                        <h4 class="text-center"
                                            style="padding:7px;background-color:white;border-radius:10px; width:100%">
                                            <div class="res" data-elem-type='text'>+750</div>
                                        </h4>
                                    </td>
                                </tr>
                            </table>


                            <h2 class="text-center pt-3 pb-3">
                                <div class="dohod" data-elem-type='text'>20,750usd</div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <h1>Калькулятор инвестиций</h1>
                <p class="lead text-dark">Здесь ты можешь рассчитать свой будущий доход или просто посмотреть, как может
                    расти твой капитал. Обрати внимание, что каждый проект имеет свою доходность</p>
            </div>
            <!--            <div class="col-2" style="background:url(/static/images/6901.png) no-repeat; background-size:cover;">-->

            <!--            </div>-->
            <div class="col-lg-2 col-xl-2 col-xxl-2 d-none d-lg-block d-xl-block d-xxl-block">
                <img src="{% static 'images/6901.png' %}"
                     style="position:absolute; bottom:0px; right:-50px; width:350px">
            </div>
        </div>
    </div>
</section>




<section class="py-2 mb-5">
    <div class="container">
        <div class="row d-block d-md-flex bg-index-block-capital p-6 p-sm-6 all-text-white my-round pattern-overlay-3" style="margin:0">
            <div style="col-12">
                <center><h1>Зарабатывай с Arius Capital</h1></center>
            </div>
            <div style="col-12"><br>
                <center>
                    <button class="btn btn-lg btn-grad">СТАНЬ ИНВЕСТОРОМ</button>
                </center>
            </div>

        </div>
    </div>
</section>




<!-- =======================
	contact us -->
<section class="pb-5 mb-5">
    <div class="container">
        <div class="row my-round overflow-hidden ">
            <!--why us left-->
            <div class="col-12 d-none d-lg-block">
                <h1 class="display-4">Связаться с нами</h1>
            </div>
            <!--why us right-->
            <div class="col-lg-12 px-5 py-5 p-lg-5e h-bg-gray-round">

                <div class="row">
                    <div class="col">
                        <h2><a class="text-dark" href="mailto:info@ariuscapital.co">info@ariuscapital.co</a></h2>
                    </div>
                    <div class="col">
                        <ul class="social-icons  text-end">
                            <li class="social-icons-item  mb-0"><a class="social-icons-link" href="#"><img
                                    src="{% static 'images/WHATSAPP_2.svg' %}" alt=""></a></li>
                            <li class="social-icons-item  mb-0"><a class="social-icons-link" href="#"><img
                                    src="{% static 'images/96c7aa675366e035c9bf.svg' %}" alt=""></a></li>
                            <li class="social-icons-item  mb-0"><a class="social-icons-link" href="#"><img
                                    src="{% static 'images/8b1d7fc0db2024468741.svg' %}" alt=""></a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-6">
                        <p class="lead">г.Киев, ул.Борисоглебская 15 б</p>
                        <p class="lead">Работаем с инвесторами со всей Украины</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- contact us
=======================  -->




{% endblock content %}