{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<!-- =======================
	Main Banner -->
<!--	<section class="p-0">-->
<!--		<div class="tiny-slider arrow-dark arrow-large arrow-transparent arrow-hover">-->
<!--			<div class="tiny-slider-inner h-400 h-lg-700" data-autoplay="true" data-autoplaytime="7000" data-gutter="0" data-arrow="true" data-dots="false" data-items="1">-->
<!--				&lt;!&ndash; slide 1&ndash;&gt;-->
<!--				<div class="h-100 bg-overlay-dark-2" style="background-image:url({% static 'assets/images/banner/05.jpg' %}); background-position: center center; background-size: cover;">-->
<!--					<div class="container h-100">-->
<!--						<div class="row d-flex h-100">-->
<!--							<div class="col-lg-8 col-xl-6 me-auto slider-content justify-content-center align-self-center align-items-start text-start">-->
<!--								<h2 class="animate__animated animate__fadeInUp animate__delay-1s display-2 fw-bold text-white">We are creating smart websites.</h2>-->
<!--								<h3 class="animate__animated animate__fadeInUp animate__delay-2s text-white display-7 alt-font fst-italic mb-2 my-md-4">Crafting visually stunning memorable experiences for the web</h3>-->
<!--								<div class="animate__animated animate__fadeInUp animate__delay-3s mt-3 dealy-1500"><a href="#" class="btn btn-grad">Purchase Now!</a> <a href="#" class="btn btn-link text-white">Check live demo!</a></div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				&lt;!&ndash; slide 2&ndash;&gt;-->
<!--				<div class="h-100 bg-overlay-dark-2" style="background-image:url({% static 'assets/images/banner/02.jpg' %}); background-position: center top; background-size: cover;">-->
<!--					<div class="container h-100">-->
<!--						<div class="row d-flex h-100">-->
<!--							<div class="col-md-8 justify-content-center align-self-center align-items-start mx-auto">-->
<!--								<div class="slider-content text-center ">-->
<!--									<h3 class="animate__animated animate__fadeInUp animate__delay-1s display-7 text-white alt-font fst-italic">Build a very unique and professional website</h3>-->
<!--									<h2 class="animate__animated animate__fadeInUp animate__delay-2s display-3 fw-bold text-white">We’re good. Just ask our moms.</h2>-->
<!--									<div class="animate__animated animate__fadeInUp animate__delay-3s mt-3 dealy-1500"><a href="#" class="btn btn-grad">Contact us</a></div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
<!-- =======================
Main banner -->

<!-- =======================
Платформа коллективных инвестиций  -->
<section class="pb-0 mb-0">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <div class="row mt-4 mt-md-0">
                    <div class="col-5 offset-1 px-2 mb-3 align-self-end">
                        <img class="rounded aos" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000"
                             data-aos-easing="ease-in-out" src="{% static 'images/__5.jpg' %}" alt="">
                    </div>
                    <div class="col-6 px-2 mb-3">
                        <img class="rounded aos" data-aos="fade-right" data-aos-delay="250" data-aos-duration="1000"
                             src="{% static 'images/handsome-programmer-.jpg' %}" alt="">
                    </div>
                    <div class="col-7 px-2 mb-3">
                        <div class="rounded aos bg-grad p-2 p-sm-3 p-lg-4 p-xl-5 all-text-white" data-aos="fade-left"
                             data-aos-delay="300" data-aos-duration="1500">
                            <!--                            									<span>Our goal:</span>-->
                            <h3 class="fw-bold">Инвестируй в недвижимость от 100 usd!</h3>
                        </div>
                    </div>
                    <div class="col-5 align-self-start ps-2 mb-3">
                        <img class="rounded aos" data-aos="fade-down" data-aos-delay="350" data-aos-duration="1500"
                             src="{% static 'images/serious-pretty-woman.webp' %}" alt="">
                    </div>
                </div>
            </div>
            <!-- right -->
            <div class="col-md-6 ps-lg-5">
                <h2 class="h1">Платформа коллективных инвестиций в доходную недвижимость </h2>
                <p class="lead">Arius Capital открывает уникальную возможность для заработка</p>

                <div>
                    <a class="btn btn-grad" href="#calc">Рассчитать доход</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Платформа коллективных инвестиций  -->


<!-- =======================
Преимущества инвестирования в недвижимость  -->
<section class="d-none d-md-block d-lg-block d-xl-block d-xxl-block">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-12">
                <h2 class="h1">Преимущества инвестирования в недвижимость</h2>
            </div>
        </div>

        <div class="row d-flex align-items-end">
            <div class="col position-relative">
                <div style="background-color:#f9ffc7; height:40px" data-aos="zoom-in-up" data-aos-delay="100" class="my-round">
                    <div class="position-absolute start-50 translate-middle" style="top:-70px"><h1>2%</h1></div>

                </div>
                <div class="position-absolute start-50 translate-middle" style="bottom:-90px"><p class="text-dark fw-bold" style="font-size:1.1rem;">Банковский&nbsp;депозит</p></div>
            </div>

            <div class="col position-relative mt-2">
                <div style="background-color:#f9ffc7; height:60px" data-aos="zoom-in-up" data-aos-delay="200" class="my-round">
                    <div class="position-absolute start-50 translate-middle" style="top:-50px"><h1>3%</h1></div>

                </div>
                <div class="position-absolute start-50 translate-middle" style="bottom:-90px"><p class="text-dark fw-bold" style="font-size:1.1rem;">Банковские&nbsp;металлы</p></div>
            </div>
            <div class="col position-relative mt-2">
                <div style="background-color:#f9ffc7; height:160px" data-aos="zoom-in-up" data-aos-delay="300" class="my-round d-flex justify-content-center align-items-center">
                    <h5 class="text-center text-dark">Высокие риски,<br>нужно иметь<br>специальные знания</h5>

                </div>
                <div class="position-absolute start-50 translate-middle" style="bottom:-90px"><p class="text-dark fw-bold" style="font-size:1.1rem;">Фондовый&nbsp;рынок</p></div>
            </div>
            <div class="col position-relative mt-2">
                <div style="background-color:#f9ffc7; height:180px" data-aos="zoom-in-up" data-aos-delay="500" class="my-round d-flex justify-content-center align-items-center">
                    <h5 class="text-center text-dark">Очень высокие риски</h5>

                </div>
                <div class="position-absolute start-50 translate-middle" style="bottom:-90px"><p class="text-dark fw-bold" style="font-size:1.1rem;">Криптовалюта</p></div>
            </div>
            <div class="col position-relative mt-2">
                <div style="background-color:#c7dd00; height:280px" data-aos="zoom-in-up" data-aos-delay="1000" class="my-round d-flex justify-content-center align-items-center">
                    <h1>10-15%</h1>

                </div>
                <div class="position-absolute start-50 translate-middle" style="bottom:-90px"><p class="text-dark fw-bold" style="font-size:1.1rem;">Недвижимость</p></div>
            </div>
        </div>
    </div>
</section>


<!--  Блок виден на смартфоне  -->
<section class="d-md-none d-lg-none d-xl-none d-xxl-none">
    <div class="container">

        <div class="row justify-content-between align-items-center">
            <div class="col-md-12">
                <h2 class="h1">Преимущества инвестирования в недвижимость</h2>
            </div>
        </div>

        <div class="row d-flex align-items-start">
            <div class="col-sm-12 col-12 position-relative">
                <div style="background-color:#f9ffc7; width:35%; height:100px" data-aos="fade-right" data-aos-delay="100" class="my-round d-flex justify-content-center align-items-center">
                    <div class="text-center text-dark"><h1>2%</h1></div>

                </div>
                <div><p class="text-dark fw-bold" style="font-size:1.1rem;">Банковский&nbsp;депозит</p></div>
            </div>
            <div class="col-sm-12 col-12 position-relative">
                <div style="background-color:#f9ffc7; width:40%; height:100px;" data-aos="fade-right" data-aos-delay="200" class="my-round d-flex justify-content-center align-items-center">
                    <div class="text-center text-dark"><h1>3%</h1></div>
                </div>
                <div><p class="text-dark fw-bold" style="font-size:1.1rem;">Банковские&nbsp;металлы</p></div>
            </div>
            <div class="col-sm-12 col-12 position-relative">
                <div style="background-color:#f9ffc7; width:60%; height:100px;" data-aos="fade-right" data-aos-delay="300" class="my-round d-flex justify-content-center align-items-center">
                    <h5 class="text-center text-dark">Высокие риски,<br>нужно иметь<br>специальные знания</h5>
                </div>
                <div><p class="text-dark fw-bold" style="font-size:1.1rem;">Фондовый&nbsp;рынок</p></div>
            </div>
            <div class="col-sm-12 col-12 position-relative">
                <div style="background-color:#f9ffc7; width:80%; height:100px;" data-aos="fade-right" data-aos-delay="500" class="my-round d-flex justify-content-center align-items-center">
                    <h5 class="text-center text-dark">Очень высокие риски</h5>
                </div>
                <div><p class="text-dark fw-bold" style="font-size:1.1rem;">Криптовалюта</p></div>
            </div>
            <div class="col-sm-12 col-12 position-relative">
                <div style="background-color:#c7dd00; width:100%; height:100px;" data-aos="fade-right" data-aos-delay="1000" class="my-round d-flex justify-content-center align-items-center">
                    <h1>10-15%</h1>
                </div>
                <div><p class="text-dark fw-bold" style="font-size:1.1rem;">Недвижимость</p></div>
            </div>
        </div>
    </div>
</section>
<!--  Блок виден на смартфоне  -->


<!-- =======================
Преимущества инвестирования в недвижимость  -->


<!-- =======================
За последние 2 года  -->
<section class="pb-1 mt-3">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-12 ">
                <h2 class="h1">За последние 2 года мы заработали для наших инвесторов более $3.000.000 прибыли</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 pt-3">
                <div class="card my-round no-border" data-aos="flip-down" style="margin-bottom: 1.5rem; background-color:#f2f2f2">
                    <div class="card-body">
                        <h2 class="card-title">Надежность</h2>
                        <p class="lead">Мы более 10 лет на рынке недвижимости и дорожим своей репутацией</p>
                    </div>
                </div>
                <div class="card my-round no-border" data-aos="flip-down" style="margin-bottom: 1.5rem; background-color:#f2f2f2">
                    <div class="card-body">
                        <h2 class="card-title">Прибыльность</h2>
                        <p class="lead">Ты получаешь 10-15% годовых в $</p>
                    </div>
                </div>
                <div class="card my-round no-border" data-aos="flip-down" style="margin-bottom: 1.5rem; background-color:#f2f2f2">
                    <div class="card-body">
                        <h2 class="card-title">Доступность</h2>
                        <p class="lead">Ты можешь выбрать подходящий проект для инвестирования</p>
                    </div>
                </div>
                <div class="card my-round no-border" data-aos="flip-down" style="margin-bottom: 1.5rem; background-color:#f2f2f2">
                    <div class="card-body">
                        <h2 class="card-title">Гарантия</h2>
                        <p class="lead">Гарантируем инвестору фиксированный процент дохода</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 pt-3">
                <div class="card my-round no-border" data-aos="flip-down" style="margin-bottom: 1.5rem; background-color:#f2f2f2">
                    <div class="card-body">
                        <h2 class="card-title">Компетентность</h2>
                        <p class="lead">За последние 10 лет мы успешно реализовали десятки сделок на общую сумму более
                            100 млн.$</p>
                    </div>
                </div>
                <div class="card my-round no-border" data-aos="flip-down" style="margin-bottom: 1.5rem; background-color:#f2f2f2">
                    <div class="card-body">
                        <h2 class="card-title">Низкие риски</h2>
                        <p class="lead">Инвестируя через платформу Arius Capital ты рискуешь меньше, чем часные
                            инвестора, так как все наши объекты инвестирования проходят тщательный аудит нашими
                            специалистами</p>
                    </div>
                </div>
                <div class="card my-round no-border" data-aos="flip-down" style="margin-bottom: 1.5rem; background-color:#f2f2f2">
                    <div class="card-body">
                        <h2 class="card-title">Ликвидность</h2>
                        <p class="lead">В любой момент ты можешь продать свою инвестицию другому инвестору или нам</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-xxl-4 d-none d-lg-block d-xl-block d-xxl-block">
                <img src="{% static 'images/money-coins-and-tree.webp' %}" alt="" style="max-height:750px"
                     class="float-end"  data-aos="zoom-in-up">
            </div>
        </div>
    </div>

</section>
<!-- =======================
За последние 2 года  -->


<section class="py-2">
    <div class="container">
        <div class="row bg-index-block-capital d-md-flex p-6 p-sm-6 all-text-white my-round pattern-overlay-3"
             style="margin:0" data-aos="fade-zoom-in"
             data-aos-easing="ease-in-back"
             data-aos-delay="300"
             data-aos-offset="0">
            <div class="col-12">
                <h1 class="text-center">Приумножай свой капитал</h1>

            </div>
            <div class="col-12 text-center pt-3">
                <a href="{% url 'register' %}" class="btn btn-lg btn-grad">СТАНЬ ИНВЕСТОРОМ</a>
            </div>

        </div>
    </div>
</section>


<!-- =======================
Наши проекты  -->
<style>
    #tns1-iw {
    margin: 1px -42px 7px 1px;
}








</style>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="mb-5 text-center">
                    <h2 class="h1">Наши проекты</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="tiny-slider arrow-dark arrow-hover ">
                    <div class="tiny-slider-inner row row-cols-1 row-cols-md-3" data-arrow="true" data-dots="false"
                         data-items-xl="3"
                         data-items-lg="3" data-items-md="2" data-items-sm="2" data-items-xs="1" data-autoplay="0"
                         data-pause="false">

                        {% for el in projects %}

                        <div class="col mb-4">
                            <div class="card h-100 class="
                            ">
                            <a href="/projects/project/{{ el.id }}">
                                <img src="{{ el.image_path }}" alt="{{ el.title }}" class="card-img-top"
                                     style="width: 100%; height: 250px; object-fit: cover; border-radius: 6px 6px 0 0;-o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title"><a class="card-title-href" href="/projects/project/{{ el.id }}">
                                    {{ el.title }}</a></h4>
                                <p class="lead"><span class="badge bg-secondary">{{ el.type }}</span></p>
                                <p class="card-text"><strong>Суть сделки:&nbsp;</strong>{{ el.deal_sence }}</p>
                            </div>
                            <div class="card-footer">
                                <table width="100%">
                                    <tr>
                                        <td class="text-start">
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                              data-bs-trigger="hover focus" data-bs-placement="top"
                                              data-bs-content="Сумма инвестиции в проект">
                                            <p>{{ el.price }} usd.</p>
                                        </span>
                                        </td>
                                        <td class="text-start">
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                              data-bs-trigger="hover focus" data-bs-placement="top"
                                              data-bs-content="Срок инвестиции">
                                            <p>{{ el.investment_term }} мес.</p>
                                        </span>
                                        </td>
                                        <td class="text-end">
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                              data-bs-trigger="hover focus" data-bs-placement="top"
                                              data-bs-content="Процент доходности">
                                            <p>{{ el.income }}%</p>
                                        </span>
                                        </td>
                                    </tr>
                                </table>

                                <div class="progress-dark progress-xs">
                                    <!-- progress item -->
                                    <div class="progress-item pb-4 pt-2">
                                        <div class="progress">

                                            <div class="progress-bar aos aos-init aos-animate" data-aos="slide-right"
                                                 data-aos-delay="200" data-aos-duration="1000"
                                                 data-aos-easing="ease-in-out"
                                                 role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                                 aria-valuemax="100"
                                                 style="width:{{el.temp_persend}}%; overflow:visible">
                                                <span class="progress-percent">{{el.temp_persend}}%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <a class="btn btn-grad btn-project-invest "
                                   href="/projects/project/{{ el.id }}"
                                >Инвестировать</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}


                </div>
            </div>
        </div>

        <!--        <div class="row">-->
        <!--            <div class="col pt-5">-->
        <!--                <center>-->
        <!--                    <a href="{% url 'projects' %}" class=" btn btn-sm btn-grad mb-0"><h4>Посмотреть все проекты</h4></a>-->
        <!--                </center>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>
    </div>
    <a name="calc"></a>
</section>
<!-- =======================
blog -->


<section id="calc">
    <div class="container my-round" style="background-color:#f2f2f2; padding:30px; position:relative;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="row pb-4">
                    <div class="col-12">
                        <div class="my-round" style="padding:30px;background-color:white">
                            <h2 class="h1">Сумма вклада $<span class="sumlable">20000</span></h2>
                            <input name="summInvest" type="range" min="100" max="100000" step="100" value="20000"
                                   id="summInvest"
                                   oninput="maxPrice.value=this.value" style="width:100%"/>
                            <p class="h4">
                                <span>$100</span>
                                <span class="float-end">$100.000</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                        <div class="my-round" style="background-color:white;padding:30px">
                            <h3 class="h2">Срок вклада</h3>


                            <div class="form-check">
                                <input value="3 месяца" class="form-check-input" type="radio" name="month"
                                       id="flexRadioDefault1" checked="checked">
                                <label class="form-check-label lead text-dark" for="flexRadioDefault1">
                                    3 месяца
                                </label>
                            </div>
                            <div class="form-check">
                                <input value="6 месяцев" class="form-check-input" type="radio" name="month"
                                       id="flexRadioDefault2">
                                <label class="form-check-label lead text-dark" for="flexRadioDefault2">
                                    6 месяцев
                                </label>
                            </div>
                            <div class="form-check pb-3">
                                <input value="12 месяцев" class="form-check-input" type="radio" name="month"
                                       id="flexRadioDefault3">
                                <label class="form-check-label lead text-dark" for="flexRadioDefault3">
                                    12 месяцев
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                        <div class="my-round green-block" style="padding:30px 10px ">
                            <h3 class="h2 text-center">Доход</h3>
                            <table cellpadding="3" width="100%">
                                <tr>
                                    <td width="40%">
                                        <h4 class="text-center"
                                            style="padding:7px;background-color:white;border-radius:10px">
                                            <div class="percent" data-elem-type='text'>+3.75%</div>
                                        </h4>
                                    </td>
                                    <td width="60%">
                                        <h4 class="text-center"
                                            style="padding:7px;background-color:white;border-radius:10px; width:100%">
                                            <div class="res" data-elem-type='text'>+750</div>
                                        </h4>
                                    </td>
                                </tr>
                            </table>


                            <h2 class="text-center pt-3 pb-3">
                                <div class="dohod" data-elem-type='text'>20,750usd</div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <h1>Калькулятор инвестиций</h1>
                <p class="lead text-dark">Здесь ты можешь рассчитать свой будущий доход или просто посмотреть, как может
                    расти твой капитал. Обрати внимание, что каждый проект имеет свою доходность</p>
            </div>
            <!--            <div class="col-2" style="background:url(/static/images/6901.png) no-repeat; background-size:cover;">-->

            <!--            </div>-->
            <div class="col-lg-2 col-xl-2 col-xxl-2 d-none d-lg-block d-xl-block d-xxl-block">

                <img src="{% static 'images/6901.png' %}"
                     style="position:absolute; bottom:0px; right:-50px; width:350px" data-aos="fade-left" />

            </div>
        </div>
    </div>
</section>


<!-- =======================
Как это работает  -->
<section class="bg-dark">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="text-white h1">Как это работает</h2>
                <p class="lead">На сайте Arius Capital ты заполняешь анкету инвестора. Далее наш менеджер связывается с
                    тобой и, учитывая сроки проекта и доходность, помогает подобрать максимально выгодный для тебя
                    вариант инвестиций</p>
                <img src="{% static 'images/how_it_works.jpg' %}" alt="" class="img-fluid my-round pb-4">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <dl class="row">
                    <dt class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 how-it-works">
                        <svg data-aos="flip-left" data-aos-delay="100" class=" my-round float-start img-fluid" width="100px" height="100px"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1"
                             preserveAspectRatio="xMidYMid slice" focusable="false" style="margin: 10px 10px 10px 0px">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#c7dd00"></rect>
                            <text x="45%" y="50%" fill="#000000" dy=".3em" class="h1">1</text>
                        </svg>
                    </dt>
                    <dd class="col-9 col-sm-9 how-it-works lead"><span class="align-middle">Кликни на кнопку «Стань инвестором» и заполни анкету инвестора</span>
                    </dd>
                    <dt class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 how-it-works">
                        <svg data-aos="flip-right" data-aos-delay="300" class=" my-round float-start img-fluid" width="100px" height="100px"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1"
                             preserveAspectRatio="xMidYMid slice" focusable="false" style="margin: 10px 10px 10px 0px">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#c7dd00"></rect>
                            <text x="40%" y="50%" fill="#000000" dy=".3em" class="h1">2</text>
                        </svg>
                    </dt>
                    <dd class="col-9 col-sm-9 how-it-works lead">Наш менеджер свяжется с тобой и поможет подобрать
                        подходящий
                        объект для инвестирования
                    </dd>
                    <dt class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 how-it-works">
                        <svg data-aos="flip-up" data-aos-delay="500" class=" my-round float-start img-fluid" width="100px" height="100px"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1"
                             preserveAspectRatio="xMidYMid slice" focusable="false" style="margin: 10px 10px 10px 0px">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#c7dd00"></rect>
                            <text x="40%" y="50%" fill="#000000" dy=".3em" class="h1">3</text>
                        </svg>
                    </dt>
                    <dd class="col-9 col-sm-9 how-it-works lead">Внеси инвестиции через кассу банка или посредством
                        интернет-банкинга (Приват24, Монобанк и т.д.)
                    </dd>
                    <dt class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 how-it-works">
                        <svg data-aos="flip-down" data-aos-delay="700" class=" my-round float-start img-fluid" width="100px" height="100px"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1"
                             preserveAspectRatio="xMidYMid slice" focusable="false" style="margin: 10px 10px 10px 0px">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#c7dd00"></rect>
                            <text x="40%" y="50%" fill="#000000" dy=".3em" class="h1">4</text>
                        </svg>
                    </dt>
                    <dd class="col-9 col-sm-9 how-it-works lead">Получи на электронную почту письмо-подтверждение, что
                        ты стал
                        инвестором!
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Как это работает  -->


<!-- =======================
Часто задаваемые вопросы  -->
<section>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- accordion line -->
            <div class="col-md-12 mb-5">
                <h2 class="mb-3 h1">Часто задаваемые вопросы</h2>
                <div class="accordion accordion-line toggle-icon-left toggle-icon-round" id="accordionExample4">
                    <div class="accordion-item" data-aos="fade-right" data-aos-delay="100">
                        <h2 class="accordion-header" id="heading10">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                                <h3 class="accordion-h3">Что такое коллективные инвестиции?</h3>
                            </button>
                        </h2>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                             data-bs-parent="#accordionExample4">
                            <div class="accordion-body lead">
                                Коллективные инвестиции - это вариант инвестирования, при котором средства группы
                                небольших инвесторов аккумулируются в единый фонд под управлением профессиональной
                                компании для их последующего вложения с целью получения прибыли. Ведь, самостоятельно не
                                многие смогут купить объект недвижимости и заработать на этом. А вот вместе - мы сила!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" data-aos="fade-right">
                        <h2 class="accordion-header" id="heading11">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                <h3 class="accordion-h3">Как мне стать инвестором?</h3>
                            </button>
                        </h2>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                             data-bs-parent="#accordionExample4">
                            <div class="accordion-body lead">
                                Для того, чтобы стать инвестором нужно:
                                <ol>
                                    <li>кликни на кнопку Стать инвестором и заполни анкету инвестора</li>
                                    <li>наш менеджер свяжется с тобой и поможет подобрать подходящий объект для
                                        инвестирования
                                    </li>
                                    <li>внеси инвестиции через кассу банка или посредством интернет-банкинга (Приват24,
                                        Монобанк и т.д.)
                                    </li>
                                    <li>получи на электронную почту письмо-подтверждение, что ты стал инвестором!</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" data-aos="fade-right" data-aos-delay="100">
                        <h2 class="accordion-header" id="heading12">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                <h3 class="accordion-h3">Могу ли я выбирать конкретный объект для инвестирования?</h3>
                            </button>
                        </h2>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                             data-bs-parent="#accordionExample4">
                            <div class="accordion-body lead">
                                Да, конечно! Ты может выбрать объект для инвестирования, ориентируясь на процент дохода
                                и срок реализации проекта, а наш менеджер поможет тебе в этом.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" data-aos="fade-right" data-aos-delay="200">
                        <h2 class="accordion-header" id="heading13">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                <h3 class="accordion-h3">Почему вы предлагаете инвестировать именно в эти объекты?</h3>
                            </button>
                        </h2>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                             data-bs-parent="#accordionExample4">
                            <div class="accordion-body lead">
                                Мы живем в динамично меняющемся мире. На данный момент офисные помещения стоят пустые, а
                                коворкинги и складская недвижимость процветает. Задача Arius Capital держать руку на
                                пульсе и подыскивать для инвесторов только те объекты, которые точно обеспечат
                                необходимый доход. И опыт в этом у нас есть
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" data-aos="fade-right" data-aos-delay="300">
                        <h2 class="accordion-header" id="heading14">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                <h3 class="accordion-h3">Как мне получить свой доход?</h3>
                            </button>
                        </h2>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                             data-bs-parent="#accordionExample4">
                            <div class="accordion-body lead">
                                Доходы от инвестиций будут выплачиваться согласно договоров. По окончанию
                                инвестиционного проекта, с тобой свяжется наш менеджер и предложит 2 варинта:
                                <ol>
                                    <li>перечислить доход на твой банковский счет;</li>
                                    <li>инвестировать средства в новый проект.</li>
                                </ol>
                                Рекомендуем тебе второй вариант. Так ты сможешь еще больше заработать!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-2">
    <div class="container">
        <div class="row bg-index-block-capital d-md-flex p-6 p-sm-6 all-text-white my-round pattern-overlay-3"
             data-aos="fade-zoom-in"
             data-aos-easing="ease-in-back"
             data-aos-delay="300"
             data-aos-offset="0">
            <div class="col-12">
                <h1 class="text-center">Зарабатывай с Arius Capital</h1>

            </div>
            <div class="col-12 text-center pt-3">
                <a href="{% url 'register' %}" class="btn btn-lg btn-grad">СТАНЬ ИНВЕСТОРОМ</a>
            </div>

        </div>
    </div>
</section>


<!-- =======================
	contact us -->
<section class="pb-5 mb-5">
    <div class="container">
        <div class="row my-round overflow-hidden ">
            <!--why us left-->
            <div class="col-12 d-none d-lg-block">
                <h1 class="display-4">Связаться с нами</h1>
            </div>
            <!--why us right-->
            <div class="col-lg-12 px-5 py-5 p-lg-5e h-bg-gray-round">

                <div class="row">
                    <div class="col">
                        <h2><a class="text-dark" href="mailto:info@ariuscapital.co">info@ariuscapital.co</a></h2>
                    </div>
                    <div class="col">
                        <ul class="social-icons  text-end">
                            <li class="social-icons-item  mb-0"><a class="social-icons-link" href="#"><img
                                    src="{% static 'images/WHATSAPP_2.svg' %}" alt=""></a></li>
                            <li class="social-icons-item  mb-0"><a class="social-icons-link" href="#"><img
                                    src="{% static 'images/96c7aa675366e035c9bf.svg' %}" alt=""></a></li>
                            <li class="social-icons-item  mb-0"><a class="social-icons-link" href="#"><img
                                    src="{% static 'images/8b1d7fc0db2024468741.svg' %}" alt=""></a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-6">
                        <p class="lead">г.Киев, ул.Борисоглебская 15 б</p>
                        <p class="lead">Работаем с инвесторами со всей Украины</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- contact us
=======================  -->


{% endblock content %}
