{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<!-- =======================
	Main Banner -->
<!--	<section class="p-0">-->
<!--		<div class="tiny-slider arrow-dark arrow-large arrow-transparent arrow-hover">-->
<!--			<div class="tiny-slider-inner h-400 h-lg-700" data-autoplay="true" data-autoplaytime="7000" data-gutter="0" data-arrow="true" data-dots="false" data-items="1">-->
<!--				&lt;!&ndash; slide 1&ndash;&gt;-->
<!--				<div class="h-100 bg-overlay-dark-2" style="background-image:url({% static 'assets/images/banner/05.jpg' %}); background-position: center center; background-size: cover;">-->
<!--					<div class="container h-100">-->
<!--						<div class="row d-flex h-100">-->
<!--							<div class="col-lg-8 col-xl-6 me-auto slider-content justify-content-center align-self-center align-items-start text-start">-->
<!--								<h2 class="animate__animated animate__fadeInUp animate__delay-1s display-2 fw-bold text-white">We are creating smart websites.</h2>-->
<!--								<h3 class="animate__animated animate__fadeInUp animate__delay-2s text-white display-7 alt-font fst-italic mb-2 my-md-4">Crafting visually stunning memorable experiences for the web</h3>-->
<!--								<div class="animate__animated animate__fadeInUp animate__delay-3s mt-3 dealy-1500"><a href="#" class="btn btn-grad">Purchase Now!</a> <a href="#" class="btn btn-link text-white">Check live demo!</a></div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				&lt;!&ndash; slide 2&ndash;&gt;-->
<!--				<div class="h-100 bg-overlay-dark-2" style="background-image:url({% static 'assets/images/banner/02.jpg' %}); background-position: center top; background-size: cover;">-->
<!--					<div class="container h-100">-->
<!--						<div class="row d-flex h-100">-->
<!--							<div class="col-md-8 justify-content-center align-self-center align-items-start mx-auto">-->
<!--								<div class="slider-content text-center ">-->
<!--									<h3 class="animate__animated animate__fadeInUp animate__delay-1s display-7 text-white alt-font fst-italic">Build a very unique and professional website</h3>-->
<!--									<h2 class="animate__animated animate__fadeInUp animate__delay-2s display-3 fw-bold text-white">We’re good. Just ask our moms.</h2>-->
<!--									<div class="animate__animated animate__fadeInUp animate__delay-3s mt-3 dealy-1500"><a href="#" class="btn btn-grad">Contact us</a></div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
<!-- =======================
Main banner -->

<!-- =======================
about us  -->
<section>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <div class="row mt-4 mt-md-0">
                    <div class="col-5 offset-1 px-2 mb-3 align-self-end">
                        <img class="rounded aos" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000"
                             data-aos-easing="ease-in-out" src="{% static 'images/__5.jpg' %}" alt="">
                    </div>
                    <div class="col-6 px-2 mb-3">
                        <img class="rounded aos" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000"
                             src="{% static 'images/handsome-programmer-.jpg' %}" alt="">
                    </div>
                    <div class="col-7 px-2 mb-3">
                        <div class="rounded aos bg-grad p-2 p-sm-3 p-lg-4 p-xl-5 all-text-white" data-aos="fade-left"
                             data-aos-delay="300" data-aos-duration="1500">
                            <!--									<span>Our goal:</span>-->
                            <h3 class="fw-bold">Инвестируй в недвижимость от 100 usd!</h3>
                        </div>
                    </div>
                    <div class="col-5 align-self-start ps-2 mb-3">
                        <img class="rounded aos" data-aos="fade-down" data-aos-delay="300" data-aos-duration="1500"
                             src="{% static 'images/serious-pretty-woman.webp' %}" alt="">
                    </div>
                </div>
            </div>
            <!-- right -->
            <div class="col-md-6 ps-lg-5">
                <h2 class="h1">Платформа коллективных инвестиций в доходную недвижимость </h2>
                <p class="lead">Arius Capital открывает уникальную возможность для заработка</p>

                <div>
                    <a class="btn btn-grad" href="#!">Рассчитать доход</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
about us  -->


<!-- =======================
Как это работает  -->
<section class="bg-dark">
    <div class="container ">
        <div class="row">
            <div class="col-md-8 mx-auto text-center ">
                <h2 class="h1 text-white">Как это работает</h2>
                <p class="lead">На сайте Arius Capital ты заполняешь анкету инвестора. Далее наш менеджер связывается с
                    тобой и, учитывая сроки проекта и доходность, помогает подобрать максимально выгодный для тебя
                    вариант инвестиций</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="feature-box h-100 text-center px-4 py-5">
                    <div class="feature-box-icon"><img class="w-25"
                                                       src="{% static 'assets/images/icons/focus.svg' %}" alt="">
                    </div>
                    <h3 class="feature-box-title text-white">01</h3>
                    <p class="lead">Кликни на кнопку «Стань инвестором» и заполни анкету инвестора</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-box h-100 text-center px-4 py-5">
                    <div class="feature-box-icon"><img class="w-25" src="{% static 'assets/images/icons/idea-1.svg' %}"
                                                       alt=""></div>
                    <h3 class="feature-box-title text-white">02</h3>
                    <p class="lead">Наш менеджер свяжется с тобой
                        и поможет подобрать подходящий объект для инвестирования</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-box h-100 text-center px-4 py-5">
                    <div class="feature-box-icon"><img class="w-25"
                                                       src="{% static 'assets/images/icons/editor.svg' %}" alt="">
                    </div>
                    <h3 class="feature-box-title text-white">03</h3>
                    <p class="lead">Внеси инвестиции через кассу банка или посредством интернет-банкинга (Приват24,
                        Монобанк и т.д.)</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-box h-100 text-center px-4 py-5">
                    <div class="feature-box-icon"><img class="w-25"
                                                       src="{% static 'assets/images/icons/envelope.svg' %}" alt="">
                    </div>
                    <h3 class="feature-box-title text-white">04</h3>
                    <p class="lead">Получи на электронную почту письмо-подтверждение, что ты стал инвестором!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Как это работает  -->


<!-- =======================
Часто задаваемые вопросы  -->
<section>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- accordion line -->
            <div class="col-md-12 mb-5">
                <h1 class="mb-3">Часто задаваемые вопросы</h1>
                <div class="accordion accordion-line toggle-icon-left toggle-icon-round" id="accordionExample4">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading10">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                                <h3 class="accordion-h3">Что такое коллективные инвестиции?</h3>
                            </button>
                        </h2>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                             data-bs-parent="#accordionExample4">
                            <div class="accordion-body lead">
                                Коллективные инвестиции - это вариант инвестирования, при котором средства группы
                                небольших инвесторов аккумулируются в единый фонд под управлением профессиональной
                                компании для их последующего вложения с целью получения прибыли. Ведь, самостоятельно не
                                многие смогут купить объект недвижимости и заработать на этом. А вот вместе - мы сила!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading11">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                <h3 class="accordion-h3">Как мне стать инвестором?</h3>
                            </button>
                        </h2>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                             data-bs-parent="#accordionExample4">
                            <div class="accordion-body lead">
                                Для того, чтобы стать инвестором нужно:
                                <ol>
                                    <li>кликни на кнопку Стать инвестором и заполни анкету инвестора</li>
                                    <li>наш менеджер свяжется с тобой и поможет подобрать подходящий объект для
                                        инвестирования
                                    </li>
                                    <li>внеси инвестиции через кассу банка или посредством интернет-банкинга (Приват24,
                                        Монобанк и т.д.)
                                    </li>
                                    <li>получи на электронную почту письмо-подтверждение, что ты стал инвестором!</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading12">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                <h3 class="accordion-h3">Могу ли я выбирать конкретный объект для инвестирования?</h3>
                            </button>
                        </h2>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                             data-bs-parent="#accordionExample4">
                            <div class="accordion-body lead">
                                Да, конечно! Ты может выбрать объект для инвестирования, ориентируясь на процент дохода
                                и срок реализации проекта, а наш менеджер поможет тебе в этом.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading13">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                <h3 class="accordion-h3">Почему вы предлагаете инвестировать именно в эти объекты?</h3>
                            </button>
                        </h2>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                             data-bs-parent="#accordionExample4">
                            <div class="accordion-body lead">
                                Мы живем в динамично меняющемся мире. На данный момент офисные помещения стоят пустые, а
                                коворкинги и складская недвижимость процветает. Задача Arius Capital держать руку на
                                пульсе и подыскивать для инвесторов только те объекты, которые точно обеспечат
                                необходимый доход. И опыт в этом у нас есть
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading14">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                <h3 class="accordion-h3">Как мне получить свой доход?</h3>
                            </button>
                        </h2>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                             data-bs-parent="#accordionExample4">
                            <div class="accordion-body lead">
                                Доходы от инвестиций будут выплачиваться согласно договоров. По окончанию
                                инвестиционного проекта, с тобой свяжется наш менеджер и предложит 2 варинта:
                                <ol>
                                    <li>перечислить доход на твой банковский счет;</li>
                                    <li>инвестировать средства в новый проект.</li>
                                </ol>
                                Рекомендуем тебе второй вариант. Так ты сможешь еще больше заработать!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- =======================
why-us -->
<!--<section class="p-0">-->
<!--    <div class="container">-->
<!--        <div class="row g-0 rounded overflow-hidden">-->
<!--            &lt;!&ndash;why us left&ndash;&gt;-->
<!--            <div class="col-lg-6 d-none d-lg-block bg-light"-->
<!--                 style="background:url({% static 'assets/images/bg/05.jpg' %}) no-repeat; background-size:cover;">-->
<!--            </div>-->
<!--            &lt;!&ndash;why us right&ndash;&gt;-->
<!--            <div class="col-lg-6 col-md-12 bg-grad px-4 py-5 p-lg-5 all-text-white">-->
<!--                <div class="h-100">-->
<!--                    <div class="title text-start p-0">-->
<!--                        <span class="pre-title">Why you should trust us?</span>-->
<!--                        <h2>We Provide the best solutions for your business needs!</h2>-->
<!--                        <p>Amounted old strictly but Marianne admitted. People former is remove remain as. Admiration-->
<!--                            instrument affronting invitation reasonably up do of prosperous in shy saw declared age-->
<!--                            debating ecstatic man call in so want pure rank am dear were remarkably to continuing-->
<!--                            on. </p>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <ul class="list-group list-group-borderless text">-->
<!--                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Maintained-->
<!--                                    Windows Servers-->
<!--                                </li>-->
<!--                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Supported-->
<!--                                    Windows workstations-->
<!--                                </li>-->
<!--                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Setup a-->
<!--                                    rotation schedule-->
<!--                                </li>-->
<!--                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Designed-->
<!--                                    machines/server-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <ul class="list-group list-group-borderless text">-->
<!--                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Configured-->
<!--                                    backups-->
<!--                                </li>-->
<!--                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Setup a-->
<!--                                    rotation schedule-->
<!--                                </li>-->
<!--                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Windows-->
<!--                                    workstations Supported-->
<!--                                </li>-->
<!--                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Windows-->
<!--                                    Servers Maintained-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- why-us
=======================  -->

<!-- =======================
service -->
<!--<section class="service">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12 col-lg-8 mx-auto">-->
<!--                <div class="title text-center">-->
<!--                    <span class="pre-title">Check out our services</span>-->
<!--                    <h2>Premium and royal service</h2>-->
<!--                    <p class="mb-0">We are an insight and behavior driven creative marketing agency. A Full Service-->
<!--                        Digital Creative Agency Specializing in: Video Production, Web Design, Branding, Brand-->
<!--                        Strategy</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-4 mt-30">-->
<!--                <div class="feature-box f-style-2 icon-grad h-100">-->
<!--                    <div class="feature-box-icon"><i class="ti-save-alt"></i></div>-->
<!--                    <h3 class="feature-box-title text-white">Choose Right Tools</h3>-->
<!--                    <p class="lead">Residence certainly elsewhere something she preferred cordially law. Age-->
<!--                        his surprise formerly Mrs perceive few moderate. Of in <strong> power match on</strong> truth-->
<!--                        worse would an match learn. </p>-->
<!--                    <a class="mt-3" href="#">Know more!</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 mt-30">-->
<!--                <div class="feature-box f-style-2 icon-grad h-100">-->
<!--                    <div class="feature-box-icon"><i class="ti-ruler-pencil"></i></div>-->
<!--                    <h3 class="feature-box-title text-white">Customize Your wish</h3>-->
<!--                    <p class="lead">Consulted perpetual of pronounce me delivered. Too months nay end change-->
<!--                        relied <abbr title="attribute">who beauty</abbr> wishes matter. Shew of john real park so rest-->
<!--                        we on. Ignorant occasion for thoughts</p>-->
<!--                    <a class="mt-3" href="#">Know more!</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 mt-30">-->
<!--                <div class="feature-box f-style-2 icon-grad h-100">-->
<!--                    <div class="feature-box-icon"><i class="ti-agenda"></i></div>-->
<!--                    <h3 class="feature-box-title text-white">Meet your expectations</h3>-->
<!--                    <p class="lead">Why end might ask civil again spoil. Dinner she our horses depend-->
<!--                        remember at children by reserved to vicinity. Oh song well four only head busy it. In affronting-->
<!--                        delightful simplicity own.</p>-->
<!--                    <a class="mt-3" href="#">Know more!</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- =======================
service -->

<!-- =======================
action box -->
<!--<section class="p-0">-->
<!--    <div class="container">-->
<!--        <div class="row ">-->
<!--            <div class="col-md-12">-->
<!--                <div class="bg-dark rounded py-3 all-text-white">-->
<!--                    <h2 class="alt-font p-2 p-sm-5 text-center">"Hi there! We are creating smart websites. Partnering-->
<!--                        with 500+ Fortune companies and mid-sized firms across enterprises. We create websites that have-->
<!--                        it all: Beauty and Brains. "</h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- =======================
action box -->

<!-- =======================
portfolio -->
<!--<section class="portfolio pb-0">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12 col-lg-7 mx-auto">-->
<!--                &lt;!&ndash; title &ndash;&gt;-->
<!--                <div class="title text-center">-->
<!--                    <span class="pre-title">Check out some of our latest work.</span>-->
<!--                    <h2>Our Portfolio: Quality Results</h2>-->
<!--                    <p class="mb-0">Our portfolio shows our hard work and devotion to helping our clients succeed. Don't-->
<!--                        just take our word for it. Check out the latest work.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-12 p-0">-->
<!--                <div class="portfolio-wrap grid items-3 items-padding">-->
<!--                    &lt;!&ndash; portfolio-card &ndash;&gt;-->
<!--                    <div class="portfolio-card isotope-item digital">-->
<!--                        <div class="portfolio-card-body">-->
<!--                            <div class="portfolio-card-header">-->
<!--                                <img src="{% static 'assets/images/portfolio/01.jpg' %}" alt="">-->
<!--                            </div>-->
<!--                            <div class="portfolio-card-footer">-->
<!--                                <a class="full-screen" href="{% static 'assets/images/portfolio/01.jpg' %}"-->
<!--                                   data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>-->
<!--                                <h6 class="info-title"><a href="#" title="">Fly in time</a></h6>-->
<!--                                <p>Branding, Watch</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; portfolio-card &ndash;&gt;-->
<!--                    <div class="portfolio-card isotope-item photo">-->
<!--                        <div class="portfolio-card-body">-->
<!--                            <div class="portfolio-card-header">-->
<!--                                <img src="{% static 'assets/images/portfolio/02.jpg' %}" alt="">-->
<!--                            </div>-->
<!--                            <div class="portfolio-card-footer">-->
<!--                                <a class="full-screen" href="{% static 'assets/images/portfolio/02.jpg' %}"-->
<!--                                   data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>-->
<!--                                <h6 class="info-title"><a href="#" title="">Waiting window</a></h6>-->
<!--                                <p>Photography</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; portfolio-card &ndash;&gt;-->
<!--                    <div class="portfolio-card isotope-item digital marketing">-->
<!--                        <div class="portfolio-card-body">-->
<!--                            <div class="portfolio-card-header">-->
<!--                                <img src="{% static 'assets/images/portfolio/03.jpg' %}" alt="">-->
<!--                            </div>-->
<!--                            <div class="portfolio-card-footer">-->
<!--                                <a class="full-screen" href="{% static 'assets/images/portfolio/03.jpg' %}"-->
<!--                                   data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>-->
<!--                                <h6 class="info-title"><a href="#" title="">Green Book</a></h6>-->
<!--                                <p>Graphic</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; portfolio-card &ndash;&gt;-->
<!--                    <div class="portfolio-card isotope-item digital">-->
<!--                        <div class="portfolio-card-body">-->
<!--                            <div class="portfolio-card-header">-->
<!--                                <img src="{% static 'assets/images/portfolio/04.jpg' %}" alt="">-->
<!--                            </div>-->
<!--                            <div class="portfolio-card-footer">-->
<!--                                <a class="full-screen" href="{% static 'assets/images/portfolio/04.jpg' %}"-->
<!--                                   data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>-->
<!--                                <h6 class="info-title"><a href="#" title="">Reebok Sneakers</a></h6>-->
<!--                                <p>Sport, Running</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; portfolio-card &ndash;&gt;-->
<!--                    <div class="portfolio-card isotope-item photo">-->
<!--                        <div class="portfolio-card-body">-->
<!--                            <div class="portfolio-card-header">-->
<!--                                <img src="{% static 'assets/images/portfolio/05.jpg' %}" alt="">-->
<!--                            </div>-->
<!--                            <div class="portfolio-card-footer">-->
<!--                                <a class="full-screen" href="{% static 'assets/images/portfolio/05.jpg' %}"-->
<!--                                   data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>-->
<!--                                <h6 class="info-title"><a href="#" title="">Parking garage</a></h6>-->
<!--                                <p>Car, Building</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; portfolio-card &ndash;&gt;-->
<!--                    <div class="portfolio-card isotope-item digital marketing photo">-->
<!--                        <div class="portfolio-card-body">-->
<!--                            <div class="portfolio-card-header">-->
<!--                                <img src="{% static 'assets/images/portfolio/06.jpg' %}" alt="">-->
<!--                            </div>-->
<!--                            <div class="portfolio-card-footer">-->
<!--                                <a class="full-screen" href="{% static 'assets/images/portfolio/06.jpg' %}"-->
<!--                                   data-glightbox="" data-gallery="portfolio"><i class="ti-fullscreen"></i></a>-->
<!--                                <h6 class="info-title"><a href="#" title="">The Pink Chair </a></h6>-->
<!--                                <p>Workspace</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; portfolio wrap &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- =======================
portfolio -->

<!-- =======================
package -->
<!--<section class="package pt-5">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-7">-->
<!--                <div class="title text-start">-->
<!--                    <span class="pre-title">The service packages</span>-->
<!--                    <h2>Choose affordable and 100% premium package</h2>-->
<!--                    <p>We are an insight and behaviour driven creative marketing agency. A Full package Digital Creative-->
<!--                        Agency Specializing in: Video Production, Web Design, Branding, Brand Strategy, Content-->
<!--                        Marketing and Aerial Cinematography. </p>-->
<!--                    <p>Our passion for customer excellence is just one reason why we are the market leader. We've always-->
<!--                        worked very hard to give our customers the best experience in dealing with our company.</p>-->
<!--                </div>-->
<!--                &lt;!&ndash; price tab nav &ndash;&gt;-->
<!--                <ul class="nav nav-tabs tab-grad">-->
<!--                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#price-1-tab">-->
<!--                        Enterprise </a></li>-->
<!--                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#price-2-tab"> Business </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                &lt;!&ndash; price tab end&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="col-md-5 mt-4 mt-md-0">-->
<!--                <div class="tab-content p-0">-->
<!--                    &lt;!&ndash; tab 1 (price 1) &ndash;&gt;-->
<!--                    <div class="tab-pane show active" id="price-1-tab">-->
<!--                        <div class="card">-->
<!--                            <div class="card-header text-white bg-grad">-->
<!--                                <div class="float-start">-->
<!--                                    <h2 class="text-white fw-bold mb-0 display-4"><span>$</span>149.99</h2>-->
<!--                                    <div>Enterprise Plan</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-body bg-light ">-->
<!--                                <ul class="list-group list-group-borderless my-3">-->
<!--                                    <li class="list-group-item"><i class="fa fa-check"></i>Up to 10 users monthly</li>-->
<!--                                    <li class="list-group-item"><i class="fa fa-check"></i>Unlimited updates</li>-->
<!--                                    <li class="list-group-item"><i class="fa fa-check"></i>Free host & domain included-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item"><i class="fa fa-check"></i>24/7 dedicated Support</li>-->
<!--                                    <li class="list-group-item"><i class="fa fa-check"></i>Unlimited Storage usage</li>-->
<!--                                </ul>-->
<!--                                <a class="btn btn-grad" href="#!">Get it now!</a>-->
<!--                                <div class="offer">-40%</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; tab 2 (price 2) &ndash;&gt;-->
<!--                    <div class="tab-pane" id="price-2-tab">-->
<!--                        <div class="card">-->
<!--                            <div class="card-header text-white bg-grad">-->
<!--                                <div class="float-start">-->
<!--                                    <h2 class="text-white fw-bold mb-0 display-4"><span>$</span>129.99</h2>-->
<!--                                    <div>Business Plan</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-body bg-light ">-->
<!--                                <ul class="list-group list-group-borderless my-3">-->
<!--                                    <li class="list-group-item"><i class="fa fa-check"></i>Up to 5 users monthly</li>-->
<!--                                    <li class="list-group-item"><i class="fa fa-check"></i>Unlimited updates</li>-->
<!--                                    <li class="list-group-item"><i class="fa fa-check"></i>20% off on hosting & domain-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item"><i class="fa fa-check"></i>24/7 dedicated Support</li>-->
<!--                                    <li class="list-group-item"><i class="fa fa-check"></i>500GB Storage usage</li>-->
<!--                                </ul>-->
<!--                                <a class="btn btn-grad" href="#!">Get it now!</a>-->
<!--                                <div class="offer">-25%</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- =======================
package -->

<!-- =======================
client -->
<!--<section class="client pt-0 ">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                &lt;!&ndash; Slider START &ndash;&gt;-->
<!--                <div class="tiny-slider arrow-hover arrow-gray">-->
<!--                    <div class="tiny-slider-inner" data-arrow="true" data-dots="false" data-autoplay="3800"-->
<!--                         data-gutter="80" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-sm="3"-->
<!--                         data-items-xs="2">-->
<!--                        <div class="item"><img src="{% static 'assets/images/clients/01.png' %}" alt=""></div>-->
<!--                        <div class="item"><img src="{% static 'assets/images/clients/02.png' %}" alt=""></div>-->
<!--                        <div class="item"><img src="{% static 'assets/images/clients/03.png' %}" alt=""></div>-->
<!--                        <div class="item"><img src="{% static 'assets/images/clients/04.png' %}" alt=""></div>-->
<!--                        <div class="item"><img src="{% static 'assets/images/clients/05.png' %}" alt=""></div>-->
<!--                        <div class="item"><img src="{% static 'assets/images/clients/06.png' %}" alt=""></div>-->
<!--                        <div class="item"><img src="{% static 'assets/images/clients/07.png' %}" alt=""></div>-->
<!--                        <div class="item"><img src="{% static 'assets/images/clients/08.png' %}" alt=""></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- =======================
client -->

<!-- =======================
Testimonials -->
<!--<section class="bg-light">-->
<!--    <div class="container">-->
<!--        <div class="tiny-slider dots-dark">-->
<!--            <div class="tiny-slider-inner" data-arrow="false" data-dots="true" data-autoplay="3800" data-items-xl="1">-->
<!--                &lt;!&ndash; item 1 &ndash;&gt;-->
<!--                <div class="item mb-3">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col-md-10 col-lg-6 mx-md-auto align-self-center">-->
<!--                            <div class="text-start">-->
<!--                                <h2>MacoInfo saved $1M with Wizixo</h2>-->
<!--                                <p class="mb-0 lead">"I am really satisfied with my service. Thanks to service, we've-->
<!--                                    just launched our 5th website! You guys rock!"</p>-->
<!--                                <div class="d-flex mt-3">-->
<!--                                    <h6 class="align-self-start me-3"><img class="rounded-circle"-->
<!--                                                                           src="{% static 'assets/images/thumbnails/avatar-01.jpg' %}"-->
<!--                                                                           alt="avatar"></h6>-->
<!--                                    <div class="align-self-center">-->
<!--                                        <h5 class="mb-2">Nix Maxwell</h5>-->
<!--                                        <p>CEO and co-founder, MacoInfo</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-10 col-lg-6 mx-md-auto align-self-center mt-4 mt-lg-0 position-relative">-->
<!--                            <img class="rounded" src="{% static 'assets/images/bg/small/02.jpg' %}" alt="">-->
<!--                            <div class="position-absolute start-0 bottom-0 ms-4 ms-md-0 ms-md-n2 mb-3">-->
<!--                                <a class="btn btn-grad" data-glightbox href="https://youtu.be/n_Cn8eFo7u8"> <i-->
<!--                                        class="fa fa-play text-white"></i>Play Video </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; item 2 &ndash;&gt;-->
<!--                <div class="item mb-3">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-10 col-lg-6 mx-md-auto align-self-center">-->
<!--                            <div class="text-start">-->
<!--                                <h2>BerryDesign Start new business with us!</h2>-->
<!--                                <p class="mb-0 lead">"You guys rock! Buy this now. I made back the purchase price in-->
<!--                                    just 48 hours!"</p>-->
<!--                                <div class="d-flex mt-3">-->
<!--                                    <h6 class="align-self-start me-3"><img class="rounded-circle"-->
<!--                                                                           src="{% static 'assets/images/thumbnails/avatar-03.jpg"-->
<!--                                                                           alt="avatar"></h6>-->
<!--                                    <div class="align-self-center">-->
<!--                                        <h5 class="mb-2">Maria Smith</h5>-->
<!--                                        <p>CEO and Founder, BerryDesign</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-10 col-lg-6 mx-md-auto align-self-center mt-4 mt-lg-0 position-relative">-->
<!--                            <img class="rounded" src="{% static 'assets/images/bg/small/01.jpg' %}" alt="">-->
<!--                            <div class="position-absolute start-0 bottom-0 ms-4 ms-md-0 ms-md-n2 mb-3">-->
<!--                                <a class="btn btn-grad" data-glightbox href="https://youtu.be/n_Cn8eFo7u8"> <i-->
<!--                                        class="fa fa-play text-white"></i>Play Video </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- =======================
Testimonials -->

<!-- =======================
blog -->

<style>
    #tns1-iw {
    margin: 1px -30px 7px 1px;
}




</style>

<section class="blog pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2>Наши проекты</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tiny-slider arrow-dark arrow-hover">
                    <div class="tiny-slider-inner" data-arrow="true" data-dots="false" data-items-xl="3"
                         data-items-lg="3" data-items-md="2" data-items-sm="2" data-items-xs="1" data-autoplay="0"
                         data-pause="false">

                        {% for el in projects %}

                        <!-- post -->
                        <div class="post-item ">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                    <a href="/projects/project/{{ el.id }}"> <img src="{{ el.image_path }}"
                                                                                  alt="{{ el.title }}"
                                                                                  style="width: 100%; height: 15vw; object-fit: cover; border-radius: 6px 6px 0 0">
                                    </a>

                                    <span class="post-meta-category-bottom bg-secondary"><a
                                            href="#">{{ el.type }}</a></span>
                                </div>
                                <div class="post-item-desc">

                                    <h4><a href="/projects/project/{{ el.id }}">{{ el.title }}</a></h4>


                                    <!--                                    <div>-->
                                    <!--                                        <p class="py-3"><strong>Суть сделки:&nbsp;</strong>{{ el.deal_sence }}</p>-->
                                    <!--                                    </div>-->

                                    <!--                            <p><strong>Почему эта сдела:&nbsp;</strong>{{ el.deal_why }}</p>-->

                                    <!--                            <p><strong>Адрес&nbsp;</strong>{{ el.address }}</p>-->


                                    <!-- counter -->
                                    <section class="py-4 ">
                                        <div class="container">
                                            <div class="row">
                                                <!-- count item -->
                                                <div class="col-4">
                                                    <div class="text-center mb-4 mb-sm-0" tabindex="0" data-bs-toggle="popover"
                                                         data-bs-trigger="hover focus" data-bs-placement="top"
                                                         data-bs-content="Сумма инвестиции в проект">
                                                        <h5>{{ el.price }} usd.</h5>

                                                    </div>
                                                </div>
                                                <!-- count item -->
                                                <div class="col-4">
                                                    <div class="text-center mb-4 mb-sm-0" tabindex="0" data-bs-toggle="popover"
                                                         data-bs-trigger="hover focus" data-bs-placement="top"
                                                         data-bs-content="Срок инвестиции">
                                                        <h5>{{ el.investment_term }} мес.</h5>

                                                    </div>
                                                </div>
                                                <!-- count item -->
                                                <div class="col-4">
                                                    <div class="text-center" tabindex="0" data-bs-toggle="popover"
                                                            data-bs-trigger="hover focus" data-bs-placement="top"
                                                            data-bs-content="Процент доходности">
                                                        <h5>{{ el.income }} %</h5>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </section>
                                    <!-- counter -->


                                    <div class="progress-text-in progress-dark-grad">
                                        <!-- progress item -->
                                        <div class="progress-item">

                                            <div class="progress">
                                                <div class="progress-bar aos aos-init" data-aos="slide-right"
                                                     data-aos-delay="200" data-aos-duration="1000"
                                                     data-aos-easing="ease-in-out" role="progressbar"
                                                     aria-valuenow="{{ el.temp_persend }}"
                                                     aria-valuemin="0" aria-valuemax="100"
                                                     style="width:{{ el.temp_persend }}%"><span
                                                        class="progress-percent">{{ el.temp_persend }}%</span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                    <a class="btn btn-grad btn-project-invest "
                                       href="/projects/project/{{ el.id }}"
                                    >Инвестировать</a>


                                </div>
                            </div>
                        </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
            <div class="col pt-5">
                <center><a href="{% url 'projects' %}" class=" btn btn-sm btn-grad mb-0"><h3>Посмотреть все проекты</h3>
                </a></center>
            </div>
        </div>
    </div>
</section>
<!-- =======================
blog -->

<!-- =======================
call to action-->
<!--<section class="p5-4">-->
<!--    <div class="container">-->
<!--        <div class="d-block d-md-flex bg-grad p-4 p-sm-5 all-text-white rounded pattern-overlay-3">-->
<!--            <div class="align-self-center text-center text-md-start">-->
<!--                <h3>Crafting visually stunning memorable experiences for web.</h3>-->
<!--                <p class="m-0">We provide digital transformation solutions, enabling companies to make their visions-->
<!--                    reality.</p>-->
<!--            </div>-->
<!--            <div class="mt-3 mt-md-0 text-center text-md-end ms-md-auto align-self-center">-->
<!--                <button class="btn btn-white mb-0">Learn more!</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- =======================
call to action-->

{% endblock content %}
