{% extends 'main/base.html' %}
{% load static %}


{% block content %}


<div class="container">
    <div class="d-block p-4 p-sm-5 h-bg-gray-round mt-2">
        <center>
            <h1>{{title}}</h1>
        </center>
    </div>


    <section class="py-4">
        <div class="row">
            <div class="col">
                <p><strong>Цель политики конфиденциальности</strong></p>
                <p>Команда платформы коллективных инвестиций ответственно относится к безопасности данных каждого инвестора. Именно поэтому мы составили настоящую политику конфиденциальности, чтобы ты знал для чего именно нам нужны твои персональные данные, которые ты предоставил нам во время регистрации. Данная политика конфиденциальности основана на требованиях Общего регламента о защите персональных данных Европейского Союза (GDPR).</p>
                <p>Регистрируясь на веб-сайте, ты подтверждаешь, что ознакомился с перечнем своих прав как субъекта данных согласно статье 8 Закона Украины «О защите персональных данных». Этот перечень доступен по ссылке:
                    <br><a href="http://zakon2.rada.gov.ua/laws/show/2297-17">http://zakon2.rada.gov.ua/laws/show/2297-17</a></p>
                <p><strong>Сбор и использование персональных данных</strong></p>
                <p>Мы собираем и используем твои персональные данные только в случае твоего добровольного согласия. При согласии с этим, ты разрешаешь нам собирать и использовать следующие данные: фамилия, имя, отчество, индивидуальный налоговый номер, серия и номер паспорта, где и кем выдан, фактический адрес проживания, электронная почта, номер телефона.</p>
                <p>Цели для которых мы собираем персональные данные: ведение учета инвесторов, размеров инвестиций и инвестиционных доходов. Ведь, если мы не будем владеть информацией о том, кто, когда, сколько и в какой проект проинвестировал то, как же мы сможем выплатить тебе твой, честно заработанный, инвестиционный доход?)</p>
                <p><strong>Использование технических данных при посещении сайта</strong></p>
                <p>Для корректного отображения содержимого и для удобства использования сайта ariuscapital.co мы используем cookie файлы. Это небольшие файлы, которые хранятся на твоем устройстве. Они помогают сайту запомнить нужную информацию, например, на каком языке ты просматриваешь сайт и какие страницы ты уже открывал. Эта информация будет использована для адаптации настроек сайта конкретно под тебя, т.е. для твоего же удобства! Благодаря файлам cookie просмотр сайта становится значительно более удобным. Ты можете настроить прием или блокировку cookie в браузере самостоятельно. Но учти, что невозможность принимать cookie может ограничить работоспособность сайта.</p>
                <p><strong>Использование персональных данных другими сервисами</strong></p>
                <p>Мы не передаем персональные данные другим организациям и службам, не указанным в данной политике конфиденциальности. Исключение составляет только передача информации при законных требованиях государственных органов уполномоченных осуществлять данные действия.</p>
                <p><strong>Защита информации</strong></p>
                <p>Мы принимаем все необходимые меры для защиты данных от неавторизованного доступа, изменения, раскрытия или уничтожения. К этим мерам относятся, в частности, внутренняя проверка процессов сбора, хранения и обработки данных и мер безопасности, включая соответствующее шифрование и меры по обеспечению физической безопасности данных для предотвращения неавторизованного доступа.</p>
                <p><strong>Изменения в политике конфиденциальности</strong></p>
                <p>Наш сайт ariuscapital.co может обновлять политику конфиденциальности время от времени, т.к. мы отслеживаем изменения законодательства, касающегося персональных данных в Европейском Союзе и в государстве Украина. Мы сообщаем о любых изменениях, разместив новую политику конфиденциальности на этой странице.</p>
                <p><strong>Контакты</strong></p>
                <p>По любым вопросам, которые могут у тебя возникнуть, смело пиши нам на e-mail: <a href="mailto:info@ariuscapital.co">info@ariuscapital.co</a> или в мессенджеры, которые указаны на сайте.</p>
            </div>
        </div>
    </section>
</div>





{% endblock content %}